.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Adjust the width as needed */
  background-color: #283747; /* Adjust background color as needed */
  color: #fff;
  padding-top: 1rem; /* Add padding to separate header from links */
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 1rem;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  padding: 1rem 1rem;
  border-bottom: 2px solid #ffffff;
}

.sidebar-link {
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  padding: 0;
}

.menu-btn span {
  background-color: #fff;
  display: block;
  height: 3px;
  width: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  background-color: #283747;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 50%) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0%);
  }
}
